.todo-list input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 10px;
}

.todo-list input:focus{
    outline: none;
    border-bottom: 1px solid #1f93ff;
}

.todo-list .list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}